.venv/
tmp/

.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
env/
venv/

# mypy
.mypy_cache/

# pytest
.pytest_cache/

# ruff
.ruff_cache/
